
/* ======= GENERAL ======= */

.overflow-x
{
  overflow-x: hidden;
}

body
{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body,a
{
  color: rgb(162, 167, 169);
  font-family: 'Open Sans', sans-serif;
}


/* =========== TITLES  ========= */

h1, h2, h3, h4, .tltitle
{
  font-family : 'Roboto', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

h2
{
  font-size: 2.3em;
}

body h2, .colored-p
{
  color: rgb(48, 61, 79);
}

section h2
{
  margin-top: 80px;
}

.colored, section h3
{
  color: rgb(122, 132, 139);
}

/* =========== LINKS  ========= */

a
{
  transition: color 0.5s;
}

a:hover, .navbar-light .navbar-nav .nav-link:hover
{
  color: rgb(230, 77, 67);
  text-decoration: none;
  transition: color 0.5s;
}

.company-link
{
  color: rgb(46, 63, 81);
}


/* ==== BUTTONS ==== */

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn-primary, .btn-primary:visited
{
  background: rgb(230, 77, 67);
  border: 1px solid rgb(232, 79, 69);
}

.btn-outline-primary {
  background: none;
  border: 1px solid rgb(232, 79, 69);
  color: rgb(230, 77, 67);
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active
{
  background: rgb(230, 77, 67)!important;
  border: 1px solid rgb(232, 79, 69)!important;
  color: white!important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active
{
  background: rgb(210, 50, 40)!important;
  border: 1px solid rgb(232, 79, 69)!important;
}


/* =========== HEADER & NAV  ========= */

header
{
  color: white;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link
{
  color: rgb(230, 77, 67);
}

nav
{
  box-shadow: 1px 0px 8px black;
}

.flex-size
{
  flex: 1;
}

/* == Media queries Header & Nav == */

@media (min-width: 992px ) {
  .navbar-btn
  {
    margin-left: 10px;
  }
}

@media (max-width: 992px ) {
  .empty {
    display: none;
  }
}

/* Noscript display */
noscript .container-fluid {
  background: rgb(230, 77, 67);
  color: white;
  top: 56px;
  position: fixed;
  z-index: 2;
  height: 25px;
  width: 100%;
}

/* ========= FOOTER ======= */
footer
{
  background: rgb(241, 242, 247);
}

footer p
{
  margin-top: 15px;
}






/* ===== BACKGROUND IMAGE ===== */
#background
{
  background: linear-gradient(
 rgba(0, 0, 73, 0.55),
 rgba(0, 0, 73, 0.55)
 ),url('../img/background.jpg');
 background-size:cover;
 background-repeat:no-repeat;
 height: 400px;
}




/* ======= CONTAINER ==== */

.container {
  flex-grow: 1;
}


/* ===== SOCIALS ICONS ===== */

#socials
{
  padding-top: 90px;
}

#socials h1, #socials h3
{
  font-family: inherit;
  text-transform: none;
  font-weight: normal;
}

.icon-social
{
  color: rgb(179, 180, 185);
}

#linkedin-icon:hover
{
  transition: color 0.8s;
  color: rgb(17,120,179);
}

#github-icon:hover
{
  transition: color 0.8s;
  color: white;
}

#twitter-icon:hover
{
  transition: color 0.8s;
  color: rgb(42, 163, 239);
}

#youtube-icon:hover
{
  transition: color 0.8s;
  color: rgb(252, 12, 28);
}

#icons
{
  margin-top: 40px;
}




/** ==== IMG PROFILE ==== **/

.profile-img
{
  margin-top: 35px;
  border: 6px solid rgb(242,242, 242);
}



/* ==== SECTION ABOUT ==== */

#about
{
  margin-top: 130px;
  padding-bottom: 45px;
}

table
{
  display: flex;
  justify-content: center;
}

#list-hobbies
{
  margin-top: 30px;
}

#infos-hobbies
{
  margin-top: 45px;
}

#infos-hobbies h3
{
  font-size: 1.4em;
}

/* == MEDIA QUERIES SECTION ABOUT == */

@media (max-width: 995px) {
  #table-info {
    margin-bottom: 50px;
  }
}

.infos-list
{
  margin-top: 30px;
}

/* Icons hobbies */

.circle-icon {
    background: rgb(241, 241, 241);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 30px;
    color: rgb(126, 135, 142);
    transition: color 0.5s, background 0.5s;
    margin: 5px;
}

.circle-icon:hover
{
  background: rgb(46, 62, 79);
  color: white;
  transition: color 0.5s, background 0.5s;
}




/* ===== SECTION RESUME ===== */

#resume
{
  background: rgb(241, 242, 247);
}


/** timeline box structure **/
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: rgb(220, 222, 230);
  left: 50%;
  margin-left: -1.5px;
}

.tltitle {
  display: block;
  width: 300px;
  background: rgb(220, 222, 230);
  border-radius: 5px;
  color: rgb(46, 63, 81);
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 0;
  font-weight: bold;
  font-size: 1.8em;
  text-align: center;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 11px rgba(0,0,0,0.35);
}

.timeline li {
  margin-bottom: 25px;
  position: relative;
}

.timeline li:before, .timeline li:after {
  content: " ";
  display: table;
}

.timeline li:after {
  clear: both;
}

.timeline li:before, .timeline li:after {
  content: " ";
  display: table;
}

/** timeline panels **/
.timeline li .timeline-panel {
  background: #fff;
  width: 46%;
  float: left;
  padding: 20px;
  position: relative;
  text-align: left;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}


li:hover .tl-circ
{
  background: rgb(230, 77, 67)!important;
}


li .timeline-panel:before
{
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

li .timeline-panel:after
{
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}


/** panel arrows **/
.timeline li .timeline-panel:hover:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline li .timeline-panel:hover:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline li .timeline-panel.noarrow:before, .timeline li .timeline-panel.noarrow:after {
  top:0;
  right:0;
  display: none;
  border: 0;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}


.timeline li.timeline-inverted .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

/** timeline circle icons **/
.timeline li .tl-circ {
  position: absolute;
  top: 33px;
  left: 50%;
  text-align: center;
  background: rgb(220, 222, 230);
  color: #fff;
  width: 15px;
  height: 15px;
  line-height: 35px;
  margin-left: -7px;
  border: 1px solid white;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  transition: background 1s;
}


/** timeline content **/

.tl-heading h4 {
  margin: 0;
  color: rgb(46, 63, 81);
  text-transform: uppercase;
}

.tl-heading p
{
  color: rgb(46, 63, 81);
  font-size: 0.8em;
  margin-top: 5px;
}

.tl-body
{
  text-align: justify;
}

.tl-body p, .tl-body ul {
  margin-bottom: 0;
}

.tl-body > p + p {
  margin-top: 5px;
}

/** media queries timeline **/
@media (max-width: 991px) {
  .timeline li .timeline-panel {
    width: 44%;
  }

  .tl-body
  {
    text-align: left;
  }
}

  @media (max-width: 700px) {
  .page-header h1 { font-size: 1.8em; }

  ul.timeline:before {
    left: 40px;
  }

  .tltitle { width: 260px; }

  ul.timeline li .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }

  ul.timeline li .tl-circ {
    top: 33px;
    left: 33px;
    margin-left: 0;

  }

  ul.timeline > li > .tltitle {
    margin: 0;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }

  li .timeline-panel
  {
    background: #fff;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  }

  li .timeline-panel:before
  {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
  }

  li .timeline-panel:after
  {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
  }
}


/* ===== SECTION SKILLS =====  */

#skills-percentage
{
  margin-top: 25px;
  padding-bottom: 75px;
}

#skills-percentage p
{
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.2em;
}

.colored-p
{
  margin-top: 15px;
  font-weight: bold;
}

.percent
{
  margin-top: 45px;
}




/* ===== SECTION PROJECT =====  */

#project
{
  background: rgb(241, 242, 247);
}

.card-body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(230, 77, 67, 0.9);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img-wrap:hover .card-body {
  visibility: visible;
  opacity: 1;
}

.card-text span
{
  margin-top: 50px;
}

.sec-btn-gallery
{
  margin-top: 25px;
  margin-bottom: 25px;
}

.box-shadow
{
  box-shadow: -2px 2px 10px -3px rgba(0,0,0,0.75);
}

/* == Media queries section project == */
@media (max-width: 449px)
{
  #btn-margin
  {
    margin-top: 10px;
  }
}





/* ===== SECTION CONTACT ===== */

#contact
{
  padding-bottom: 55px;
}

.form-control
{
  background-color: rgb(242, 242, 242);
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: rgb(230, 77, 67);
}

form
{
  margin-top: 55px;
}

#submitForm
{
  margin-top: 15px;
}

/* ====== LEGALS PAGE ====== */

#legals p
{
  text-align: justify;
}
